.cua{
  width:auto;
  height: auto;
  background:#c7ecee;
  margin:20px;
  padding:0px;
  border-radius:90px;
  border:5px solid black;
  text-align: center;
}
.fondo{
  background:#30336b;
  color:white;
}
.color1{
  background:#30336b
}
.boton1{
  width: auto;
  height: auto;
  background-color: red;
  border: 5px solid #FF0000;
  border-radius: 15px;
  font-size: 20px;
  color: #ffffff;
}
.boton1:hover{
  color: #ffffff;
  background-color: #ff7675;
}
.contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  }
.contenedor2{
  width:auto;
  height: auto;
  background:#c7ecee;
  margin:200px;
  padding:0px;
  border-radius:90px;
  border:5px solid black;
}
.bot1{
    width:150px;
    height:80px;
    font-weight: 30px;
    font-size: 20px;
    color: #ffffff;
    background-color:#e74c3c;
    border-radius: 20px;
    border: 5px solid #c0392b;
    margin: 30px 75px;
    font-size: auto;
}
.bot1:hover{
   color: #ffffff;
   background-color: #ff7675;
 }
.bot2{
     width:150px;
     height:80px;
     font-weight: 30px;
     font-size: 20px;
     color: #ffffff;
     background-color:#74b9ff;
     border-radius: 20px;
     border: 5px solid #0984e3;
     margin: 30px 75px;
     font-size: auto;
 }
.bot2:hover{
    color: #ffffff;
    background-color: #81ecec;
}
.bot3{
    width:150px;
    height:80px;
    font-weight: 30px;
    font-size: 20px;
    color: #ffffff;
    background-color:#3ae374;
    border-radius: 20px;
    border: 5px solid #00b894;
    margin: 30px 75px;
    font-size: auto;
}
.bot3:hover{
   color: #ffffff;
   background-color: #32ff7e;
}
.bot4{
    width:150px;
    height:80px;
    font-weight: 30px;
    font-size: 20px;
    color: #ffffff;
    background-color:#ffd32a;
    border-radius: 20px;
    border: 5px solid #ffa801;
    margin: 30px 75px;
    font-size: auto;
}
.bot4:hover{
   color: #ffffff;
   background-color: #ffdd59;
}
.invi{
  display:none;
}
.p1{
  text-align: center;
}
